#buttons_event {
    display: flex;
  }
  #Host_card {
    border-radius: 20px;
    margin-top: -40vw;
    margin-left: 22vw;
    width: 60vw;
  }
  
  .swiper-slide {
    margin: 0;
  }
  
  #hosts_events {
    border-color: rgb(0, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    padding: 1vw;
    margin: 2vw;
    width: 14vw;
    background-color: white;
  }
  
  #carousel {
    width: 65vw;
    height: auto;
    display: flex;
    flex-direction: row;
  }
  
  #event_img {
    width: 20vw;
    height: 9vw;
    border-radius: 10px;
  }
  
  #host_tittle {
    display: flex;
    justify-content: left;
    margin-bottom: -1vw;
    margin-left: 2vw;
  }
  
  @media (max-width: 768px) {
    #buttons_event {
      display: flex;
      justify-self: left;
      margin-top: 6vw !important;
    }
  
    #Host_card {
      border-radius: 10px;
      margin-top: 35vw;
      margin-left: 22vw;
      margin-right: 22vw;
      position: absolute;
    }
  
    .swiper-slide swiper-slide-active {
      width: 100%;
    }
  
    .swiper-slide {
      margin: 0;
    }
  
    #hosts_events {
      border-color: rgb(0, 255, 255);
      border-width: 1px;
      border-style: solid;
      border-radius: 20px;
      padding: 3vw;
      margin: 10vw;
      width: 70vw;
      height: 95vw;
      margin-left: 0vw;
    }
  
    #no_events {
      font-size: large;
      display: flex;
      justify-self: center;
    }
  
    #carousel {
      height: auto !important;
      width: auto;
      display: flex;
      flex-direction: row;
    }
  
    #ocation_event {
      font-size: larger;
    }
    #date_event {
      font-size: larger;
    }
  
    #event_img {
      width: 70vw !important;
      height: 50vw !important;
      border-radius: 10px;
      margin-bottom: 6vw !important;
    }
  
    #host_tittle {
      display: flex;
      justify-content: left;
      margin-bottom: -1vw;
      margin-left: 2vw;
      font-size: larger;
    }
  }