#acepted_invitations_shadow{
    margin-top: -30vw;
    -webkit-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.288);
    -moz-box-shadow: -4px 6px 13px -1px rgba(166,166,166,0.288);
    box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.288);
width: 14vw;
height: 33vw;
border-top-left-radius: 25px;
border-top-right-radius: 0px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 0px;
padding-right: 1vw;
margin-left: 84vw;
}

#acepted_invitations_div{
    margin-left: 1vw;
    margin-top: 2vw;
}

#acepted_invitation_text{
    display: flex;
    flex-direction: column;
    width: 10vw;
}

#acepted_invitation{
    display: flex;
    margin-top: 2vw;
}

#porfile_img{
    width: 4vw;
    height: 4vw;
    display: flex;
    align-self: center;
    margin-right: 1vw;
}

h2{
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

span{
    font-weight: 400;
}

 
@media (max-width: 768px) {
    
    #acepted_invitations_shadow{
        margin-top: 360vw;
        -webkit-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.288);
        -moz-box-shadow: -4px 6px 13px -1px rgba(166,166,166,0.288);
        box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.288);
    width: 90vw;
    height: 150vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    padding: 10vw;
    margin-left: 8vw;
    position: absolute;
    }
    
    #acepted_invitations_div{
        margin-left: 1vw;
        margin-top: 2vw;
    }
    
    #acepted_invitations_tittle{
        font-size: larger;
    }
    #acepted_invitation_text{
        display: flex;
        flex-direction: column;
        width: 80vw !important;
        margin-bottom: 15vw !important;
    }
    
    #acepted_invitation{
        display: flex;
        margin-top: 2vw;
    }
    
    #porfile_img{
        width: 4vw;
        height: 4vw;
        display: flex;
        align-self: center;
        justify-items: center;
        margin-right: 1vw;
        margin-top: -10vw;
    }
    
    h2{
        display: flex;
        justify-content: left;
        margin-bottom: 2vw;

    }
    
    span{
        font-weight: 400;
    }
    
}
