#acepted_invitations_shadow {
    width: 14vw;
    height: 33vw;
    -webkit-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.222);
    -moz-box-shadow: -4px 6px 13px -1px rgba(166,166,166,0.222);
    box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.222);
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    padding-right: 1vw;
    position: absolute;
    top: 60%; /* Ajusta según la ubicación deseada */
    right: 0.5%; /* Ajusta según la ubicación deseada */
 
}

#acepted_invitations_div {
    margin-left: 1vw;
    margin-top: 2vw;
}

#invitation_text {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

#acepted_invitation {
    display: flex;
    margin-top: 2vw;
}

#porfile_img {
    width: 4vw;
    height: 4vw;
    display: flex;
    align-self: center;
    margin-right: 1vw;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

span {
    font-weight: 400;
}

 
@media (max-width: 768px) {
    
    #acepted_invitations_shadow{
        margin-top: 230vw;
        -webkit-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.288);
        -moz-box-shadow: -4px 6px 13px -1px rgba(166,166,166,0.288);
        box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.288);
        width: 90vw;
        height: 70vw;
        border-top-left-radius: 25px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 0px;
        padding-left: 10vw;
        padding-top: 10vw;
        padding-bottom: 10vw;
        margin-left: 80vw;
        position: absolute;
    }

    #acepted_invitations-p{
        font-size: 15px !important;
    }
    
    #acepted_invitations_div{
        margin-left: 1vw;
        margin-top: 2vw;
    }
    
    #acepted_invitations_tittle{
        font-size: larger;
    }
    #acepted_invitation_text{
        display: flex;
        flex-direction: column;
        width: 50vw !important;
        margin-bottom: 8vw !important;
    }
    
    #acepted_invitation{
        display: flex;
        margin-top: 2vw;
    }
    
    #porfile_img{
        width: 4vw;
        height: 4vw;
        display: flex;
        align-self: center;
        justify-items: center;
        margin-right: 1vw;
      
    }
    
    #acepted_invitations_tittle{
        display: flex;
        justify-content: center;
        font-size: larger;
    }
    
    #invitations-p{
        font-size: px;
    }


    span{
        font-weight: 400;
    }
    
    #name ,#ocation , #date{
        font-size: 15px;
    }
}