#button_new_div {
    width: 12vw;
    -webkit-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.222);
    -moz-box-shadow: -4px 6px 13px -1px rgba(166,166,166,0.222);
    box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0.222);
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    padding: 1.5vw;
    position: absolute;
    top: 25%; /* Ajusta según la posición deseada */
    right: 0.5%; /* Ajusta según la posición deseada */
    display: flex;
    flex-direction: column;
    justify-content: right;
}

#new_nevent_button {
    border-radius: 40px;
    width: 4vw;
    height: 4vw;
    font-size: 3vw;
    color: white;
    background-color: #00B78C;
    border: none;
    cursor: pointer;
    align-content: center;
    align-self: center;
}
@media (max-width: 480px) {
    #button_new_div{
        width: 12vw;
        margin-top: 130vw;
        position: absolute;
        -webkit-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0);
        -moz-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0);
        box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0);
        background-color: white;
        padding: 1.5vw;
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 95vw;
    }
    
    #new_nevent_button{
        border-radius: 100vw;
        width: 14vw !important;
        height: 14vw;
        font-size: 9vw;
        color: white;
        background-color: #00B78C;
        border: none;
        cursor: pointer;
        align-content: center;
        align-self: center;
        z-index: 5;
        position: fixed;
        margin-left: 2vw;
    }

    #new_event_text{
        display: none;
    }
    
  }
