#button_new_div{
    width: 12vw;
    background-color: white;
    border-top-left-radius: 25px;
border-top-right-radius: 0px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 0px;
    padding: 1.5vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: 84vw;
    margin-top: -45vw;
}

#new_nevent_button{
    border-radius: 40px;
    width: 4vw;
    height: 4vw;

    font-size: 3vw;
    color: white;
    background-color: #00B78C;
    border: none;
    cursor: pointer;
    align-content: center;
    align-self: center;
    
}

.new_event_text{
    display: none;
}


  @media (max-width: 480px) {
    #button_new_div{
        width: 12vw;
        margin-top: 200vw;
        position: absolute;
        -webkit-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0);
    -moz-box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0);
    box-shadow: -4px 6px 13px -1px rgba(166, 166, 166, 0);
        background-color: white;
        padding: 1.5vw;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: right;
        margin-left: 95vw;
    }
    
    #new_nevent_button{
        border-radius: 100vw;
        width: 10vw !important;
        height: 10vw;
        font-size: 9vw;
        color: white;
        background-color: #00B78C;
        border: none;
        cursor: pointer;
        align-content: center;
        align-self: center;
        z-index: 5;
        position: fixed;
    }

    #new_event_text{
        display: none;
    }
    
  }
  