.footer_container {
    text-align: center; 
} 

.footer_title {
    font-size: 3rem;
    margin-bottom: 30px;
    font-family: "Poppins", system-ui;
    font-style: normal;
}

.footer_word {
    margin: 0 4px; 
}

.footer_image {
    max-width: 60%; 
    height: auto;
   
}

.footer_green-box {
    width: 100%;
    height: 100px;
    background-color: #00B78C;
}
