
.create_event_form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.314);
    border-radius: 20px; 
    z-index: 10;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    font-family: "Poppins", system-ui;
}


.close-button {
    position: absolute;
    margin-bottom: 50%;
    right: 20px;
    background-color: #00B78C; 
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #00B78C;
}


.create_event_form h2 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10%;
    margin-top: 10%;
    font-weight: 800;
}



.create_event_form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 0.9rem;
    color: #00B78C;
   
}

.create_event_form input,
.create_event_form select,
.create_event_form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    font-family: "Poppins", system-ui;
    border-radius: 10px;
    font-size: 0.8rem;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.create_event_form input:focus,
.create_event_form select:focus,
.create_event_form textarea:focus {
    border-color: #00B78C;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 192, 135, 0.5);
}


.create_event_form .map {
    margin: 15px 0;
    border-radius: 10px;
    overflow: hidden;
}


.create_event_form button[type="submit"] {
    width: 100%;
    font-family: "Poppins", system-ui;
    font-weight: 600;
    padding: 15px;
    background-color: #00B78C;
    width: 40%;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
    display: block;
    margin: 20px auto;
}

.create_event_form button[type="submit"]:hover {
    background-color: #009f6b;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 5; 
}
